<!DOCTYPE html>
<html>
	<head>
		<title>ONS Pattern Library - {{{ title }}}</title>
		<link href="../assets/css/main.css" rel="stylesheet" type="text/css" />
		<link href="../assets/css/prism.css" rel="stylesheet" type="text/css" />
		<link href="../assets/css/prismCustom.css" rel="stylesheet" type="text/css" />
		<link href="https://beta.ons.gov.uk/node_modules/sixteens/dist/css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="pl-wrap">
			<div class="pl-wrap__inner">