<!DOCTYPE html>
<html>
	<head>
		<title>ONS Pattern Library - {{{ title }}}</title>
		<link href="../assets/css/main.css" rel="stylesheet" type="text/css" />
		<link href="../assets/css/prism.css" rel="stylesheet" type="text/css" />
		<link href="../assets/css/prismCustom.css" rel="stylesheet" type="text/css" />
		<link href="https://beta.ons.gov.uk/node_modules/sixteens/dist/css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="pl-wrap">
			<div class="pl-wrap__inner">
				<!-- <nav>
					<div class="header col-wrap">
						<div class="col col--lg-one-third col--md-one-third">
							<a href="/">
								<img class="main-logo" src="https://beta.ons.gov.uk/node_modules/ONS-Pattern-Library/dist/img/ons-logo.png" alt="Office for National Statistics">
							</a>
						</div>
					</div>
				</nav> -->