{{> header}}

				<h1>{{ title }}</h1>
				{{{ contents }}}
				<div class="table-of-contents print--avoid-break">
					<h2 class="table-of-contents__title">Table of contents</h2>
					<ol id="toc" class="table-of-contents__list">
						{{#each collections.components}}
						<li class="table-of-contents__item">
							<a href="#{{ this.title }}" class="jsEnhanceAnimateScroll">{{ this.title }}</a>
						</li>
						{{/each}}
					</ol>
				</div>
				<div class="page-content__main-content pl-page-content__main-content">
					{{#each collections.components}}
					<div class="pl-item" id="{{ this.title }}">
						<h2>{{ this.title }}</h2>
						{{{ this.contents }}}
						<div class="pl-example">
							<div class="pl-example__rendered">
								{{{ this.snippet }}}
							</div>
							<div class="pl-example__code">
								<pre><code class="language-html">{{ this.snippet }}</code></pre>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
{{> footer}}

